*{
  font-family: 'Roboto Slab', serif;
}

.row {
  margin : 0;
}

.entete{
  background-color:#a29874;
  color:white;
  box-shadow: 0px 10px 10px #c7bc91;
  height:120px;
}

.titre,.score{
  font-size:40px;
  font-family: 'Rammetto One', cursive;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.score{
  text-align:right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo{
  max-width: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.product{
  padding:10px;
}

.menu{
  font-size:25px;
  font-family: 'Rammetto One', cursive;
}

.menu>.row{
  padding:10px;
  margin-top:20px;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
}

.menu>.row:hover{
  background-color: #d87b44;
  color:white;
  box-shadow: 0px 10px 10px #c7bc91;
}

.multi{
  background-color: #d87b44;
  border: 4px solid #b65822;
  border-radius: 5px;
  font-size: 20px;
  text-align:center;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.multi:hover{
  border: 5px solid #b65822;
  background-color: #a53800;
}

.multi>span{
  font-family: 'Rammetto One', cursive;
  color:white;
}

.pseudo{
  width:200px;
  font-size:20px;
  color:black;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.colonne{
  padding-right: 50px;
}

.round {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 5px solid #c5ba97;
}

.modal-title{
  font-size:30px;
  font-family: 'Rammetto One', cursive;
  text-align: center;
}

.nomManager{
  color:#d87b44;
  font-size:20px;
  font-family: 'Rammetto One', cursive;
}

.bloque{
  background-color: #bdb390;
  border: 4px solid #9b9170;
  border-radius: 5px;
  font-size: 15px;
  text-align:center;
  color:white;
  font-family: 'Rammetto One', cursive;
  cursor: not-allowed;
  filter:alpha(opacity=65);
}

.hire{
  background-color: #d87b44;
  border: 4px solid #b65822;
  border-radius: 5px;
  font-size: 15px;
  text-align:center;
  color:white;
  font-family: 'Rammetto One', cursive;
}

.hire:hover{
  background-color: #fa9d66;
}

.true{
  display:none;
}

span[hidden]{
  display: none;
}

.unlock{
  padding:0;
}

.nombre{
  font-size: 20px;
}

.inv{
  padding-top: 20px;
}

/*div{
border: solid black 1px;
}*/
