<!--The content below is only a placeholder and can be replaced.-->
<head>
 <style>
/* * {
   border: 1px solid red;
 }*/
</style>
</head>

<body>


  <div class="row entete">
    <div class="col-md-1 col-sm-6 logo">
      <img *ngIf="world.logo" [attr.src]="'http://localhost:8080/'+world.logo" /> 
    </div>
    <div class="col-md-4 col-sm-6 titre">{{world.name}}</div>
    <div class="col-md-3 col-sm-6 score">
      <span class="score" [innerHTML]="world.money | bigvalue"></span>
    </div>
    <div class="col-md-1"></div>
    <div (click)="toggleMulti()" class="col-md-1 col-sm-6 multi"><span>X </span><span>{{qtmulti}}</span></div>
    <!-- <div class="col-md-2 pseudo"><input [(ngModel)]="username" (change)="onUsernameChanged()"/></div> -->
  </div>
  <div class="row">
    <div class="col-md-2 menu">
      <div class="buttonleft btn btn-warning btn-lg" data-toggle="modal" (click)="managersModal.show()" >
       Managers
      </div>

     <!--  <div class="row" data-toggle="modal" >Unlocks</div>
      <div class="row" data-toggle="modal" >Cash Upgrades<span [hidden]="!upAv" style="color:#d87b44;float:right;font-size:30px;border-radius:100%;height:30px;width:30px;background-color:white;" class="badge"> ! </span></div>
      <div class="row" data-toggle="modal" >Angel Upgrades<span [hidden]="!anAv" style="color:#d87b44;float:right;font-size:30px;border-radius:100%;height:30px;width:30px;background-color:white;" class="badge"> ! </span></div>
 -->
      <!-- <div class="row" data-toggle="modal" >Managers<span [hidden]="!manAv" style="color:#d87b44;float:right;font-size:30px;border-radius:100%;height:30px;width:30px;background-color:white;" class="badge"> ! </span></div>
 -->
      <!-- <div class="row" data-toggle="modal" >Investors</div> -->
    </div>
  </div>

  <app-modal #managersModal>
   <div class="app-modal-header">
     <h4 class="modal-title">Managers make you feel better !</h4>
   </div>
   <div class="app-modal-body">
    <div *ngFor="let manager of world.managers.pallier">
      <div class="row">
        <div class="col-md-3"><img class="round" [attr.src]="'http://localhost:8080/'+manager.logo" alt="Logo {{manager.name}}" width=100% /></div>
        <div class="col-md-6" style="text-align:center;">
          <div class="row nomManager">{{manager.name}}</div>
          <div class="row cible">{{world.products.product[manager.idcible-1].name}}</div>
          <div class="row" [innerHTML]="manager.seuil | bigvalue"></div>
        </div>
        <button (click)="hireManager(manager)" [ngClass]="{'bloque': world.money < manager.seuil, 'col-md-3':true, 'hire':world.money >= manager.seuil}" style="height:50px;">ENGAGER !</button>
        </div>
      </div>
   </div>
    <div class="app-modal-footer">
     <button type="button" class="btn btn-default"
     (click)="managersModal.hide()">Close</button>
   </div>
  </app-modal>


  <span class="score" [innerHTML]="world.money | bigvalue "></span>
  <div *ngIf="world.products.product">
   <app-product *ngIf="world.products.product[0]" [prod]="world.products.product[0]" [qtmulti]="qtmulti" [money]="world.money" (notifyMoney)="onBuy($event)" (notifyProduction)="onProductionDone($event)" class="product col-md-6"></app-product>
   <app-product *ngIf="world.products.product[1]"  [prod]="world.products.product[1]" [qtmulti]="qtmulti" [money]="world.money" (notifyMoney)="onBuy($event)" (notifyProduction)="onProductionDone($event)" class="product col-md-6"></app-product>
  </div>
</body>
